data/readme.txt
data/Training/*
!data/Training/.gitkeep
data/Validation/*
!data/Validation/.gitkeep
data/audio-reduced/Training/*
!data/audio-reduced/Training/.gitkeep
data/audio-reduced/Validation/*
!data/audio-reduced/Validation/.gitkeep
data/faces/Training/*
!data/faces/Training/.gitkeep
data/faces/Validation/*
!data/faces/Validation/.gitkeep
data/results/Training/*
!data/results/Training/.gitkeep
data/results/Validation/*
!data/results/Validation/.gitkeep
data/Images/Training/*
!data/Images/Training/.gitkeep
data/Images/Validation/*
!data/Images/Validation/.gitkeep
.git
/scripts/c++-scripts/CMakeFiles
/scripts/*.sh
/scripts/*.out
/scripts/*.xml
/scripts/__pycache__
/scripts/c++-scripts/CMakeCache.txt
/scripts/c++-scripts/FaceDetector
/scripts/c++-scripts/cmake_install.cmake
/scripts/c++-scripts/Makefile
data/audio-split/*
data/audio/*
!/scripts/c++-scripts/cpp-spectrogram-master
data/Visualization/Validation/*
data/Visualization/Training/*
data/spectrograms/*
data/Testing/*
data/temp.mp4
