data/readme.txt
data/Training/*
!data/Training/.gitkeep
data/Validation/*
!data/Validation/.gitkeep
data/audio-reduced/Training/*
!data/audio-reduced/Training/.gitkeep
data/audio-reduced/Validation/*
!data/audio-reduced/Validation/.gitkeep
data/faces/Training/*
!data/faces/Training/.gitkeep
data/faces/Validation/*
!data/faces/Validation/.gitkeep
data/results/Training/*
!data/results/Training/.gitkeep
data/results/Validation/*
!data/results/Validation/.gitkeep
.git
/scripts/c++-scripts/CMakeFiles
/scripts/job.sh
/scripts/submit_job.sh
/scripts/results.out
/scripts/c++-scripts/CMakeCache.txt
/scripts/c++-scripts/FaceDetector
/scripts/c++-scripts/cmake_install.cmake
/scripts/c++-scripts/Makefile
